


.lt-navbar {
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    /* Draggable zone */
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
  
    display: flex;
    flex-flow: row;
    height: 32px;
  
    padding: 2px;
    flex-flow: row;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .lt-navbar--header {
    display: flex;
    gap: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .lt-navbar--header-logo {
    display: flex;
    margin: auto;
  }
  
  .lt-navbar--header-name {
    display: flex;
    margin: auto;
  }
  
  .lt-navbar--header-content {
    
    white-space: "nowrap";
    margin: auto;
    color: "white";
  }
 
  